:root {
--main:#333;
--font:#fff;
}
body{
    background:var(--main);
    color: var(--font);
}
.navbar{
    border-bottom: 3px solid #008ed6;
    background: rgba(0,0,#292b2c,0.7);
}
.header .container{
    height: 500px ;
}
.header-inner .icon i{
    font-size: 38px;
    color: var(--font);
    font-weight: 900;
    border-radius: 5px;
}
.header{
    background-image: url("img/home.jpg");
    background-position: center top;
    background-size: cover;
    min-height: 700px;
    background-attachment: fixed;
}
.header .container{
    padding-top: 120px;
}
.dark-overlay{
  background: rgba(0,0,0,0.7);
  min-height: 700px;
} 
#learn{
    background: #fff;
    color: black;
}
.sign i{
    color: #fff;
    background: #000;
    font-size: 38px;
}
#share{
    color: black;
    background: #fff;
}